<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Modificar Medicamento</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"/>

<div class="container mt-5">
    <h2 class="text-info mb-4">Modificar Medicamento</h2>
    <form th:action="@{/categoria/guardar}" th:object="${categoria}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" th:field="*{nombre}" required />
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" th:field="*{descripcion}" />
        </div>

        <div class="d-grid gap-2 d-md-block">
            <a th:href="@{/categoria/listado}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </form>
</div>

<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
