<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Formulario de Sugerencias</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"/>

<div class="container mt-5">
    <h2 class="text-info mb-4 text-center">Formulario de Quejas y Sugerencias</h2>
    <form>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" required />
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo" required />
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="5" required></textarea>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-info">Enviar</button>
        </div>
    </form>
</div>

<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
